
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/4738370.jpg);">
  <div class="container">
    <h1>Welcome<strong> to your wish Movies List</strong> !</h1>
    <br>
    <p>Make insane lists with your favorite movies</p>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a new list", new_list_path, class: "btn btn-warning" %>
  </div>

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngplay.com/wp-content/uploads/12/Rambo-PNG-Images-HD.png)">
        <%= link_to list.name, list_path(list) %>
      </div>
      <% end %>
    </div>
